<!DOCTYPE html> 
<html> 
	<head> 
	<title>Partybus</title> 
	<meta name="viewport" content="width=device-width, initial-scale=1"> 
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.css" />
	<script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.js"></script>

<style type="text/css" media="screen">
	 .notification {
	 background-color:#00AE00;
	 color:White;
	 cursor:pointer;
	 padding:5px;
	 padding-top: 5px;
	 position:absolute;
	 z-index:10;
	 font-size: 100%;
	 }

</style>
</head> 
<body> 

{% block body %}

{% endblock %}

</body>
</html>
