<div data-role="header" data-position="fixed">
  <a href="#up1" data-icon="arrow-u" id="upbutton" >Up</a>
  <h1>Library</h1>
  <a href="#sources" data-icon="home" >Sources</a>
</div>

<div data-role="content">	
  
  <p>{{path}}</p>

  <input type="search" name="search" id="listfilter" value="" date-mini="true" />

  <a data-role="button" data-inline="true" data-theme="a" href="#prevpage" data-icon="arrow-l" data-iconpos="right" date-mini="true">Prev</a>
  <input type="range" name="slider-1" id="slider-1" value="60" min="0" max="100" style="display: none;" date-mini="true"/>
  <a data-role="button" data-inline="true" data-theme="a" href="#nextpage" data-icon="arrow-r" data-iconpos="left" date-mini="true">Next</a>
  <span id="indexreport" ></span>
  <div data-role="collapsible-set"  data-inset="false"  data-theme="a" data-content-theme="b">
    <div data-role="collapsible" data-collapsed="false">
      <ul  data-role="listview"  data-inset="true" tunelist="yes"></ul>		
    </div>

  </div>
</div>

<div data-role="footer" data-position="fixed" data-id="persist_bar">
  <div data-role="navbar" data-iconpos="left">
    <ul>
      <li><a href="#home" data-icon="home">Now Playing</a></li>
      <li><a href="#library" data-icon="grid" class="ui-btn-active ui-state-persist">Library</a></li>
      <li><a href="#account" data-icon="gear">Account</a></li>
    </ul>
  </div>
</div>

